<?xml version="1.0"?>

<!--                                  -->
<!--  Description of the Jaws 2 ROV.  -->
<!--                                  -->
<!--  The Underwater Robotics Team    -->
<!--     @ The Ohio State University  -->
<!--                                  -->

<robot name="jaws2" xmlns:xacro="http://ros.org/wiki/xacro">

<!--                     -->
<!--  Servo Controllers  -->
<!--                     -->

  <xacro:macro name="servo_control" params="prefix">
  <transmission name="${prefix}">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="${prefix}_servo">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="${prefix}_servo_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  </xacro:macro>
  <xacro:servo_control prefix="port"/>
  <xacro:servo_control prefix="stbd"/>

  <xacro:include filename="jaws2_housing.urdf.xacro"/>
  <xacro:include filename="jaws2_mounting.urdf.xacro"/>
  <xacro:include filename="jaws2_properties.urdf.xacro"/>
  <xacro:include filename="jaws2.gazebo.xacro"/>
  <xacro:include filename="seabotix_thrusters.urdf.xacro"/>

</robot>
