<launch>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find jaws2_description)/config/isometric.rviz"/>
  <include file="$(find jaws2_description)/launch/jaws2_description.launch"/>
</launch>
