<launch>

  <include file="$(find jaws2_description)/launch/jaws2_description.launch"/>
  <rosparam command="load" file="$(find jaws2_control)/config/jaws2_control.yaml"/>
  <arg name="controllers" value="port_servo_position_controller stbd_servo_position_controller joint_state_controller"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="$(arg controllers)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

  <node name="attitude_controller" pkg="jaws2_control" type="attitude_controller"/>
  <node name="thruster_controller" pkg="jaws2_control" type="thruster_controller"/>
</launch>
