# ------------------------------------------ #
#  OSU UWRT Jaws 2 imu_3dm_gx4 udev Rule(s)  #
# ------------------------------------------ #

# To subsystem(s) or not to subsystem(s)?
# SUBSYSTEM=="tty", SUBSYSTEMS=="usb"
ATTRS{maufacturer}=="Lord Microstrain", ATTRS{product}=="Lord Inertial Sensor", SYMLINK+="sensors/imu_3dm_gx4"

# Most generic effective rule I can think of:
# ATTRS{maufacturer}=="Lord Microstrain", ATTRS{product}=="Lord Inertial Sensor", SYMLINK+="sensors/IMU%n"
# ROV specifics, in case they should be come necessary:
# ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="0000__6234.50972"
